h1#logo {
  position: relative;
  margin: 0;
  color: #444444;
  font-size: 2rem;
}

#add-button {
  margin-top: 16px;
  width: 48px;
}

#add-button:hover {
  background: #26c281;
  color: #efefef;
}
