:root {
    font-family: system-ui, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 300;
  
    color-scheme: light dark;
    color: #efefef;
    background-color: #242424;
}
  
body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;
}
  
#app {
    max-width: 1366px;
    margin: 0 auto;
    padding: 0 2rem;
}
  
@media (prefers-color-scheme: light) {
    :root {
        color: #213547;
        background-color: #ffffff;
    }
}
  