#add-form {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

#add-form > * {
  color: #afafaf;
}

#add-form > input {
  width: 100%;
  height: 48px;
  padding: 1rem;
  border: 1px solid #646464;
  background: transparent;
  box-sizing: border-box;
}

#add-form > input:focus {
  border: 1px solid #646464;
  outline: none;
}

#add-form-actions {
  align-self: stretch;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#add-form-actions button {
    margin-top: 16px;
    margin-left: 16px;
    width: 64px;
}
  
#add-form-actions #send-button:hover {
    background: #038aff;
    color: #efefef;
}