.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 20vw;
  min-width: 180px;
  max-width: 320px;
  min-height: 150px;
  padding: 2rem;
  background: #343434;
  border: 1px solid #242424;
  box-shadow: 5px 5px 0 0 #2f2f2f;
  border-radius: 1px;
}

.card > .card-icon {
  position: absolute;
  top: 2rem;
  right: 2rem;
} 

.card > .card-content {
  position: relative;
}

.card-content > p {
  margin: 0;
  padding: 0;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card-content > .details {
  font-size: .65rem;
}

.card-content > .title {
  font-weight: bold;
}

.card-content > .subtitle {
  margin-top: 8px;
  font-size: .9rem;
  font-style: italic;
}

.card .card-actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.card-actions > button {
  margin: 0 8px;
  height: 48px;
  border: 1px solid #242424;
}

.card-actions > button:hover {
  background: #242424;
  border-color: #444444;
  color: #afafaf;
}

.card-actions .card-delete-action:hover {
  background: #ec644b;
  color: #efefef;
}