#left-column {
  position: absolute;
  top: 0;
  left: 0;
  width: 80px;
  height: 100%;
  background-color: red;
}

#right-column {
  position: absolute;
  top: 0;
  left: 80px;
  width: calc(100% - 80px);
  background-color: blue;
}