#main-content {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  top: 128px;
  padding: 0 5rem 2rem 5rem;
  box-sizing: border-box;
}

#main-content > * {
  margin: 0 0 36px 36px;
}